<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  text-align: center;
}
body {
  color: gray;
}

h2 {
  color: green;
}
h1 {
  color: white;
}
</style>
</head>
<body>

<!DOCTYPE html>
<html>
<head>
<h1 style="background-color:LightGreen;">A LifeSteal Plugin Using Skript.
</head>
<body>
<p style="background-color:LightGreen;">Made by Almond.
<body1>
</h1>
<br>
<p>For more information head to the Wiki Website Version 23</p>
<p>A LifeSteal Plugin using Skript. Currently on Version 3.0 Download</p>
<br>
<h2>Why Skript?</h2>
<p>Because Skript is extremely easy to customize and easily readable. Installing is simple and and customizing the features and the code is simple</p>
<br>
<h2>Versions</h2>
<ul>
	<li>V3.0</li>
    <li>V2.9</li>
    <li>V1.8.2</li>
    <li>V1.8.1</li>
    <li>V2.8</li>
    <li>V2.7</li>
</ul>
</body1>
</html>



